snippet table "Markdown Table"

| ${1:表头}   | ${2:表头}   |
| :----:        | :----:        |
| ${3:单元格} | ${4:单元格} |
| ${5:单元格} | ${6:单元格} |

endsnippet

snippet code "Markdown Code"

\`\`\`${1:lang}

${2:TODO}
\`\`\`
endsnippet

snippet link "Markdown Link"

[${1:title}](http://${2:www.ex.com})

endsnippet

snippet img "Markdown Image"
![${1:alt 属性文本}](http://${2:link})
endsnippet

snippet list "Markdown List"
- ${1:第一项}
- ${2:第二项}
- ${3:第三项}
endsnippet
